{% extends 'base.html.twig' %}

{% block title %}SnowTricks - New trick{% endblock %}

{% block body %}

	{% include 'navbar.html.twig' %}

	<div class="py-5 my-5 col-12 col-sm-8 col-md-6 mx-auto">
		{% for message in app.flashes('error') %}
	        <div class="alert alert-danger">
	            {{ message }}
	        </div>
	    {% endfor %}
		{{ form_start(tricksNewForm) }}
			{{ form_row(tricksNewForm.images, {'attr': {'class': 'form-control images-upload'}}) }}
			<div class="gallery"></div>
			{{ form_row(tricksNewForm.name, {'attr': {'class': 'form-control'}}) }}
			{{ form_row(tricksNewForm.description, {'attr': {'class': 'form-control'}}) }}
			{{ form_row(tricksNewForm.trick_group, {'attr': {'class': 'form-control'}}) }}
			<button type="submit" class="btn btn-primary col-6 d-block mx-auto my-3">Add the trick</button>
		{{ form_end(tricksNewForm) }}
	</div>
	
	{% include 'footer.html.twig' %}

{% endblock %}